#container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  font-size: 24px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}

.search {
}
.res-card {
  margin: 20px;
  width: 280px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-details {
  margin: 10px;
}

.res-logo {
  width: 95%;
  padding: 5px;
}
